@model UniversityApp.Core.ViewModels.DeleteStudentViewModel

@{
    ViewData["Title"] = "DeleteSelectedStudent";
    Layout = "~/Views/Shared/_SecretariesLayout.cshtml";
}

<h4 style="text-align: center;">Delete student</h4>
<hr />
<div class="row justify-content-center" style="background-color: #d3d3d3;
        border-radius: 15px; padding: 10px; width: 500px;margin: auto;">
    <div class="col-md-4">
        <form asp-action="DeleteSelectedStudent" style="width: 450px; margin-left:-160px;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudyYear" class="control-label"></label>
                <input id="study_year_field" asp-for="StudyYear" class="form-control" />
                <span asp-validation-for="StudyYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SectionName" class="control-label"></label>
                <input id="section_field" asp-for="SectionName" class="form-control" />
                <span asp-validation-for="SectionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cnp" class="control-label"></label>
                <select id="cnp_field" asp-for="Cnp" onchange="get_student_to_be_deleted()" class="form-control" asp-items="ViewBag.StudentCnp"></select>
            </div>
            <div class="form-group">
                <label asp-for="StudentName" class="control-label"></label>
                <input id="student_name_field" asp-for="StudentName" class="form-control" disabled />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-primary" id="button-form"/>
            </div>
        </form>
    </div>
</div>


