@model UniversityApp.Core.DTOs.StudentDto

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_SecretariesLayout.cshtml";
}


<h3 style="text-align: center;">Are you sure you want to delete this?</h3>
<div class="delete-student-container">
    <h4 class="align-text-to-center">Students</h4>
    <hr />
    
    <partial name="_DetailsPartial" model="@Model" />

    <form asp-action="Delete" class="delete-student-form">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
