@model UniversityApp.Core.DTOs.StudentDto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_SecretariesLayout.cshtml";
}

<div class="student-details-container">
    <h4 class="align-text-to-center">Student's details</h4>
    <hr />
    <partial name="_DetailsPartial" model="@Model" />

    <div class="edit-index-student-links">
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>
