@model IEnumerable<CourseDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SecretariesLayout.cshtml";
}

<h4 style="text-align: center;">All courses</h4>

<partial name="_AllCoursesPartial" model="Model" />
