@model UniversityApp.Core.DTOs.SecretaryDto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_SecretariesLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Secretaries</h4>
    <hr />
    <partial name="_DetailsPartial" model="@Model" />
</div>