@model UniversityApp.Core.DTOs.SecretaryDto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_SecretariesLayout.cshtml";
}

<div class="secretary-details-container">
    <h4 class="container-title">Secretary's details</h4>
    <hr />
    <partial name="_DetailsPartial" model="@Model" />
</div>