@model IEnumerable<CourseDto>

@{
    ViewData["Title"] = "GetCourses";
    Layout = "~/Views/Shared/_SecretariesLayout.cshtml";
}

<h4 style="text-align: center;">Courses</h4>

<partial name="_AllCoursesPartial" model="@Model"/>
