@model IEnumerable<CourseDto>

@{
    ViewData["Title"] = "TeachedCourses";
    Layout = "~/Views/Shared/_TeachersLayout.cshtml";
}

<h4 style="text-align:center">Teached Courses</h4>
<hr/>

<partial name="_AllCoursesPartial" model="@Model" />