@model GradeDto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_SecretariesLayout.cshtml";
}

@{ await Html.RenderPartialAsync(
     "_GradePartial",
     @Model,
     new ViewDataDictionary(this.ViewData){
        {"ActionName", "Edit"},
        {"ButtonText", "Save"},
        {"FormName", "Edit grade"}
     });
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

