ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }

  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color:slategray;
    color: white;
  }
  
  .topnav-right {
    float: right;
  }

body {
    background-image: url('../images/perfect.jpeg');
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

  .gradesClass {
    padding-top: 50px;
    padding-left: 60px;
    color: darkblue;
  }

  .add_grade{
    padding-top: 180px;
  }

  .btn-primary {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width:28%;    
  }



