
@using Microsoft.AspNetCore.Identity
@using UniversityApp.Core.DomainEntities

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <form class="form-inline" asp-controller="Accounts" asp-action="Logout" onclick="clearSessionStorage()">
                <button type="submit" class="nav-link btn btn-link">Log out</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a asp-area="" asp-controller="Accounts" asp-action="Login">Log in</a>
        </li>
    }
</ul>