<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UniversityApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.1/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/js/site.js" type="application/javascript"></script>
</head>
<body class="secretaryBackground" onload="GetUserPicture()">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item"><a class="nav-link text-light" asp-area="" asp-controller="Secretaries" asp-action="Home">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Enrollments
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-area="" asp-controller="Enrollments" asp-action="Create">Enroll student</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Enrollments" asp-action="Delete">Delete</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Enrollments" asp-action="Index">View enrollments</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Courses
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-area="" asp-controller="Courses" asp-action="Create">Add course</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Courses" asp-action="Index">View courses</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Teachers
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-area="" asp-controller="Teachers" asp-action="Create">Register teacher</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Teachers" asp-action="Index">View teachers</a>
                            <a class="dropdown-item" asp-area="" asp-controller="TeachedCourses" asp-action="Create">Assign course</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Students
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-area="" asp-controller="Students" asp-action="Create">Register student</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Students" asp-action="DeleteSelectedStudent">Delete student</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Students" asp-action="Index">View students</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Secretaries
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-area="" asp-controller="Secretaries" asp-action="Create">Register secretary</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Secretaries" asp-action="DeleteByCnp">Delete secretary</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Secretaries" asp-action="Index">View secretaries</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="/">
                            <div class="logo-image">
                                <img id="UserPic" style="border-radius:50%;" alt="image" width="40" height="40" />
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="topnav-right">
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-dark">
        <div class="container">
            &copy; 2020 - UniversityApp
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
    </body>
</html>
